/*CSS file*/
	Application{
		backgroundGradientAlphas:1.0, 1.0; 
		backgroundGradientColors:#C6BFC6, #AA9BAA;
	}
	
	ToolTip
	{
		color: #2F1F2F;
		fontSize: 12;
		backgroundColor: #D2BCD3;
	}
	
	.logo
	{
		color:#AAAAAA;
		upSkin:Embed(source="logo.swf" ,symbol="logoup");
	}
	
/*弹出登录&注册框*/	
	Panel{
		borderColor:#2F1F2F; 
		themeColor:#CCFF66;
		color:#1A0C1A;
		fontSize:12;
	}
	
	.welcomeUsername{
		color:#2F1F2F;
	}
	
	Alert
	{
		backgroundColor: #1A0C1A;
		borderColor: #1A0C1A;
		fontSize: 12;
		themeColor:#CCFF66;
		buttonStyleName: buttomDeep;
	}

	
	
	
/*player CSS*/	
	
	/*中间按钮s*/
	.playerButtoms{
		backgroundColor:#2B1E2C;
	}
	.resetList{
		color:#AAAAAA;
		upSkin:Embed(source="reset.swf" ,symbol="skinup");
		downSkin:Embed(source="reset.swf" ,symbol="skindown");
		overSkin:Embed(source="reset.swf" ,symbol="skinover");
	}

	/*歌曲列表三颗按钮*/
	.buttomLight{
		cornerRadius:1;
		themeColor:#BAF75D;
		fontSize:12;
		color:#3D313E;
	}
	.playBtn{
		color:#AAAAAA;
		upSkin:Embed(source="three.swf" ,symbol="playup");
		downSkin:Embed(source="three.swf" ,symbol="playdown");
		overSkin:Embed(source="three.swf" ,symbol="playover");
	}
	
	.storeBtn{
		color:#AAAAAA;
		upSkin:Embed(source="three.swf" ,symbol="storeup");
		downSkin:Embed(source="three.swf" ,symbol="storedown");
		overSkin:Embed(source="three.swf" ,symbol="storeover");
	}
	
	.deleteBtn{
		color:#AAAAAA;
		upSkin:Embed(source="three.swf" ,symbol="deleteup");
		downSkin:Embed(source="three.swf" ,symbol="deletedown");
		overSkin:Embed(source="three.swf" ,symbol="deleteover");
	}
	
	/*播放器大框架*/
	.player{
		fillAlphas:1.0, 1.0;
		fillColors:#241625, #241625;
		cornerRadius:10;
	}
	/*歌曲列表深色*/
	.player1{
		backgroundColor:#2B1E2C;
	}
	/*歌曲列表浅色*/
	.player2{
		backgroundColor:#332634;
	}
	.player3{
		backgroundColor:#574757;
	}
	/*歌曲列表rollover*/
	.player4{
		backgroundColor:#625463;
	}
	
	/*歌曲列表字*/
	.musicListText{
		color:#AFA2B0;
	}
	.musicListRoOver{
		color:#BAF75D;
	}
	/*快进按钮*/
	.buttomNext{
		color:#AAAAAA;
		upSkin:Embed(source="next.swf" ,symbol="next_up");
		downSkin:Embed(source="next.swf" ,symbol="next_down");
		overSkin:Embed(source="next.swf" ,symbol="next_over");
	}
	
	/*播放按钮*/
	.buttomPlay{
		color:#AAAAAA;
		upSkin:Embed(source="p&p.swf" ,symbol="play_up");
		downSkin:Embed(source="p&p.swf" ,symbol="play_down");
		overSkin:Embed(source="p&p.swf" ,symbol="play_over");
	}
	
	/*暂停按钮*/
	.buttomPause{
		color:#AAAAAA;
		upSkin:Embed(source="p&p.swf" ,symbol="pause_up");
		downSkin:Embed(source="p&p.swf" ,symbol="pause_down");
		overSkin:Embed(source="p&p.swf" ,symbol="pause_over");
	}
	
	/*播放器顶部歌曲信息颜色*/
	.songLabel{
		color:#AFA2B0; 
		fontSize:12;
	}
	.playerLabel{
		color:#836985; 
		fontSize:12;
	}
	.albumLabel{
		color:#735f74; 
		fontSize:12;
	}
	
	.progressSong{
		themeColor:#433443; 
		borderColor:#554755; 
		trackColors:#786d78;
	}
	
	.volume{
		thumbUpSkin:Embed(source="volume.swf" ,symbol="thumbUpSkin");
		thumbDownSkin:Embed(source="volume.swf" ,symbol="thumbDownSkin");
		thumbOverSkin:Embed(source="volume.swf" ,symbol="thumbOverSkin");
		thumbOffset:5;
	}
	
	.silent1{
		color:#AAAAAA;
		upSkin:Embed(source="silence.swf" ,symbol="silenceup");
		downSkin:Embed(source="silence.swf" ,symbol="silencedown");
		overSkin:Embed(source="silence.swf" ,symbol="silenceover");
	}
	.silent2{
		color:#AAAAAA;
		upSkin:Embed(source="silence.swf" ,symbol="silentup");
		downSkin:Embed(source="silence.swf" ,symbol="silentdown");
		overSkin:Embed(source="silence.swf" ,symbol="silentover");
	}

/*搜索结果CSS*/
	.searchBox{
	backgroundColor:#1C121D;
	cornerRadius: 10;
	borderColor:#1C121D;
	borderStyle: solid;
	}

	.searchText{
	backgroundColor:#1C121D;
	borderColor:#1C121D;
	borderStyle: solid;
	}
	
	.lineOne{
	strokeColor:#887B89;
	}
	.lineTwo{
	strokeColor:#332634;
	}
	
	.topRes{
		fontSize:12;
		color:#69606A;
		fontWeight:bold;
	}

	.followRes{
		color:#625463;
		fontsize:12;
	}
	
	.addAllRes{
		color:#AAAAAA;
		upSkin:Embed(source="addall.swf" ,symbol="skinup");
		downSkin:Embed(source="addall.swf" ,symbol="skindown");
		overSkin:Embed(source="addall.swf" ,symbol="skinover");
	}
	
	.nextSearch{
		color:#AAAAAA;
		upSkin:Embed(source="searchnext.swf" ,symbol="rightup");
		downSkin:Embed(source="searchnext.swf" ,symbol="rightdown");
		overSkin:Embed(source="searchnext.swf" ,symbol="rightover");
		disabledSkin:Embed(source="searchnext.swf" ,symbol="rightdis");
	}
	
	.preSearch{
		color:#AAAAAA;
		upSkin:Embed(source="searchpre.swf" ,symbol="leftup");
		downSkin:Embed(source="searchpre.swf" ,symbol="leftdown");
		overSkin:Embed(source="searchpre.swf" ,symbol="leftover");
		disabledSkin:Embed(source="searchpre.swf" ,symbol="leftdis");
	}

	
/*歌词区CSS*/
	.lyrics{
	backgroundColor:#1C121D;
	borderColor:#1C121D;
	borderStyle: solid;
	cornerRadius: 10;
	}
	/*
	TextArea{
		backgroundAlpha:0.0; 
		fontSize:12;
		color:#69606A; 
		borderThickness:0;
		themeColor:#1C121D;
	}
	*/
	Label{
		fontSize:12;
		color:#69606A;
	}
	VRule{
		strokeColor:#69606A;
		themeColor:#BAF75D; 
	}
	
	
	
	
/*top区CSS*/
	.buttomDeep{
		color: #B8AAB9;
		textRollOverColor: #B8AAB9;
		themeColor: #CCFF66;
		fontSize: 12;
		fillAlphas: 1.0, 1.0;
		fillColors: #765F76, #2F1F2F, #2F1F2F, #2F1F2F;
		paddingLeft: 10;
		textSelectedColor: #2F1F2F;
	}
	.topBottom{
		backgroundColor:#241625;
		borderStyle: solid;
		cornerRadius: 10;
		backgroundAlpha: 0.5;
		
	}	
	
	.playerTop{
		backgroundColor:#615661;
	}
	
	LinkButton{
		themeColor:#BAF75D;
		color:#B8AAB9 ;
		alpha:1.0 ;
		fontSize:12;
		textRollOverColor:#7ac30b;
	}
	TextInput{
		color:#9C9C9C ;
		backgroundColor:#E4E4E4; 
		borderColor:#B8AAB9 ;
		fontSize:12 ;
		themeColor:#BAF75D ;
	}
	ComboBox{
		color:#B8AAB9 ;
		fillAlphas:1.0, 1.0;
		fillColors:#3F3240, #3F3240;
		themeColor:#BAF75D;
		borderColor:#B8AAB9;
		cornerRadius:4;
		selectionColor:#B8AAB9;
		rollOverColor:#d5fa9d;
		textRollOverColor:#5b8816;
	}
	
	.lyricOn{
		color:#baf75d;
		fontWeight:bold;
	
	}
	
	.downBottom{
		backgroundColor:#2B1E2C;
		borderStyle: solid;
		cornerRadius: 10;
		borderColor:#2B1E2C;
	}
	
	.downBtn{
		fontSize:12;
		textRollOverColor:#baf75d;
		textSelectedColor:#B8AAB9;
		color:#B8AAB9; 
	}
	
	
	



 

