/*CSS file*/
	Application{
		backgroundGradientAlphas:1.0, 1.0; 
		backgroundGradientColors:#C6BFC6, #AA9BAA;
	}

	
/*player CSS*/	
	/*歌曲列表浅色按钮*/
	.buttomLight{
		cornerRadius:1;
		themeColor:#BAF75D;
		fontSize:12;
		color:#3D313E;
	}
	/*播放器大框架*/
	.player{
		fillAlphas:1.0, 1.0;
		fillColors:#241625, #241625;
		cornerRadius:10;
	}
	/*歌曲列表深色*/
	.player1{
		backgroundColor:#2B1E2C;
	}
	/*歌曲列表浅色*/
	.player2{
		backgroundColor:#332634;
	}
	.player3{
		backgroundColor:#BAF75D;
	}
	/*播放按钮*/
	.playBottom{
		/*skin:
		ClassReference("as3.Bottom.playButtonSkin"); */
	}
	/*快进按钮*/
	.nextBottom{
		/*skin:
		ClassReference("as3.Bottom.nextButtonSkin"); */
	}
	/*播放器顶部歌曲信息颜色*/
	.songLabel{
		color:#BAF75D; 
		fontSize:12;
	}
	.playerLabel{
		color:#887B89; 
		fontSize:12;
	}
	.albumLabel{
		color:#625463; 
		fontSize:12;
	}
	
	




/*歌词区CSS*/
	.lyrics{
	backgroundColor:#1C121D;
	borderColor:#1C121D;
	borderStyle: solid;
	cornerRadius: 10;
	}
	/*
	TextArea{
		backgroundAlpha:0.0; 
		fontSize:12;
		color:#69606A; 
		borderThickness:0;
		themeColor:#1C121D;
	}
	*/
	Label{
		fontSize:12;
		color:#69606A;
	}
	VRule{
		strokeColor:#69606A;
		themeColor:#BAF75D; 
	}
	
	
	
/*top区CSS*/
	.buttomDeep{
		fillAlphas:1.0, 1.0 ;
		fillColors:#3F3240,#3F3240; 
		themeColor:#BAF75D;
		fontSize:12;
		color:#B8AAB9;
	}
	.topBottom{
	backgroundColor:#241625;
	borderStyle: solid;
	cornerRadius: 10;
	backgroundAlpha: 0.5;
	}	
	LinkButton{
		themeColor:#BAF75D;
		color:#B8AAB9 ;
		alpha:1.0 ;
		fontSize:12;
		textRollOverColor:#7ac30b;
	}
	TextInput{
		color:#9C9C9C ;
		backgroundColor:#E4E4E4; 
		borderColor:#B8AAB9 ;
		fontSize:12 ;
		themeColor:#BAF75D ;
	}
	ComboBox{
		color:#B8AAB9 ;
		fillAlphas:1.0, 1.0;
		fillColors:#3F3240, #3F3240;
		themeColor:#BAF75D;
		borderColor:#B8AAB9;
		cornerRadius:4;
		selectionColor:#B8AAB9;
		rollOverColor:#d5fa9d;
		textRollOverColor:#5b8816;
	}
	
	.lyricOn{
	color:#baf75d;
	fontWeight:bold;
	
	}
	



 

