/*CSS file*/
ScrollBar{
	fillAlphas: 1.0, 1.0;
	fillColors: #EDEDED, #EDEDED, #EDEDED, #EDEDED;
	borderColor: #000000;
	trackColors: #000000, #000000;
	themeColor: #ccff66;
}
Application
{
	backgroundGradientAlphas:1.0, 1.0; 
	backgroundGradientColors:#ededed, #ededed;
}
ToolTip
{
	fontSize:12;
	color: #000000;
	backgroundColor: #E5E5E5;
}
global
{
	color: #000000;
	themeColor:#ffffff;
	fontSize:12;
}
Alert
{
	backgroundColor: #D7D7D7;
	borderColor: #D7D7D7;
	fontSize: 12;
	color:#474747;
}
.tipCanvas
{
	backgroundColor:#E00025;
	borderColor:#E00025;
	borderStyle: solid;
	cornerRadius:20;
}
.tipText
{
	fontSize: 12;
	color:#ffffff;
}	
/*logo*/
.logoBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="logo_up");
	downSkin:Embed(source="bubble.swf" ,symbol="logo_down");
	overSkin:Embed(source="bubble.swf" ,symbol="logo_over");
	rollOverEffect: Glow;
}
/*top*/
.topLBtn
{
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	color: #FFFFFF;
	paddingLeft: 3;
	paddingRight: 3;
	rollOverColor: #E00025;
	selectionColor: #E00025;
	themeColor:#E00025;
	fontWeight: bold;
}
.topCanvas
{
	backgroundColor:#000000;
	borderColor:#000000;
	borderStyle: solid;
	backgroundAlpha: 1;
	dropShadowColor:#000000;
	dropShadowEnabled:true;
	cornerRadius:25;
}
.topCanvas2
{
	backgroundColor:#000000;
	borderColor:#000000;
	borderStyle: solid;
	backgroundAlpha: 0;
	dropShadowColor:#000000;
	dropShadowEnabled:true;
	cornerRadius:25;
	borderThickness:4;
	alpha:1;
}
/*searchBar*/
ComboBox
{
	color:#FFFFFF;
	fillAlphas:1.0, 1.0;
	fillColors:#000000, #000000, #000000, #000000;
	themeColor:#000000;
	borderColor:#000000;
	cornerRadius:10;
	selectionColor:#000000;
	rollOverColor:#e00025;
	textRollOverColor:#000000;
	textSelectedColor: #e00025;
	dropdownStyleName: comboBoxDropdown;
	mouseDownEffect: Glow;
	rollOverEffect: Glow;
	paddingLeft:6;
	paddingRight:2;
}
.comboBoxDropdown
{
	backgroundColor: #D7D7D7;
	color: #474747;
	borderColor: #E00025;
}
.searchBtn
{
	cornerRadius: 10;
	fontSize: 12;
	borderColor:#000000;
	fillAlphas: 1.0, 1.0;
	fillColors: #000000, #000000;
	themeColor:#000000;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	mouseDownEffect: Glow;
	rollOverEffect: Glow;
	paddingLeft:3;
	paddingRight:3;
	fontWeight:bold;
}
TextInput
{
	color:#E00025 ;
	backgroundColor:#EDEDED; 
	borderColor:#000000 ;
	fontSize:12 ;
	themeColor:#e00025 ;
	cornerRadius:5; 
	borderStyle:solid;
	paddingTop: 2;
	paddingLeft: 3;
	mouseDownEffect: Glow;
}



/*playerSongs*/
.triBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="tri_up");
	downSkin:Embed(source="bubble.swf" ,symbol="tri_down");
	overSkin:Embed(source="bubble.swf" ,symbol="tri_over");
}
.shareBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="share_up");
	downSkin:Embed(source="bubble.swf" ,symbol="share_down");
	overSkin:Embed(source="bubble.swf" ,symbol="share_over");
	themeColor:#e00025;
	rollOverEffect: Glow;
}
.storeBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="store_up");
	downSkin:Embed(source="bubble.swf" ,symbol="store_down");
	overSkin:Embed(source="bubble.swf" ,symbol="store_over");
	themeColor:#e00025;
	rollOverEffect: Glow;
}
.deleteBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="delete_up");
	downSkin:Embed(source="bubble.swf" ,symbol="delete_down");
	overSkin:Embed(source="bubble.swf" ,symbol="delete_over");
	themeColor:#e00025;
	rollOverEffect: Glow;
}
.playerSongText
{
	color:#000000;
}
.playerSongTextOn
{
	color:#e00025;
}
.playerOn
{
	borderStyle:solid; 
	borderColor:#e00025; 
	cornerRadius:10;
}
.playerCanvas
{
}
.playerEven
{ 
	backgroundColor:#000000;
}
.musicListCanvas
{
	 cornerRadius:15; 
	 borderStyle:solid; 
	 borderColor:#000000; 
}
HRule
{
	strokeColor:#000000;
	strokeWidth:1;
} 
/*searchBox*/
.searchCanvas
{
	backgroundColor:#EDEDED; 
	borderStyle:solid; 
	borderColor:#EDEDED; 
	cornerRadius:15;
}
.searchTopText
{
	color:#000000;
	fontSize: 12;
}
.searchText
{
	color:#474747;
	fontSize: 12;
}
.searchTextOn
{
	color:#e00025;
	fontSize: 12;
}
.pageText
{
	color:#474747;
	fontSize: 12;
}
.addBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="add_up");
	downSkin:Embed(source="bubble.swf" ,symbol="add_down");
	overSkin:Embed(source="bubble.swf" ,symbol="add_over");
}
.addAllBtn
{
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 2;
	paddingBottom: 2;
	textRollOverColor: #5D5D5D;
	textSelectedColor: #5D5D5D;
	disabledColor: #B2B2B2;
	borderColor: #D2D2D2;
	fillAlphas: 0.0, 0.0, 0.0, 0.0;
	color: #5D5D5D;
	themeColor: #D2D2D2;
	fontSize: 9;
}
.backLyricLBtn
{
	color: #474747;
	rollOverColor: #B2B2B2;
	selectionColor: #B2B2B2;
	textRollOverColor: #474747;
	fontSize: 9;
	paddingLeft: 2;
	paddingRight: 2;
	paddingBottom: 2;
	paddingTop: 2;
}
.searchTopHRule
{
	strokeColor:#5d5d5d;
	strokeWidth:1;
}
.searchBoxHRule
{
	strokeColor:#b2b2b2;
	strokeWidth:1;
}




/*lyrics*/
.lyricsCanvas
{
	backgroundColor:#5a4c66;
	borderColor:#5a4c66;
	borderStyle: solid;
	backgroundAlpha: 1;
	dropShadowColor:#000000;
	dropShadowEnabled:true;
	shadowDirection:right;
	shadowDistance:3;
	cornerRadius:10;
}
VRule
{
	strokeColor:#000000;
	strokeWidth:1;
} 
.lyricOn
{
	color:#e00025;
	fontSize: 12;
}
.lyricNormal
{
	color:#000000;
	fontSize: 12;
}

/*now*/
.nowCanvas
{
	backgroundColor:#d7d7d7;
	backgroundAlpha: 1;
	borderColor:#000000;
	borderStyle:solid;
	cornerRadius:20;
	shadowDirection:right;
	shadowDistance:3;
	dropShadowColor:#000000;
	dropShadowEnabled:true;
}
.nowLBtn
{
	textRollOverColor:#5d5d5d;
	textSelectedColor:#5d5d5d;
	themeColor:#ededed;
	color:#5d5d5d;
	paddingLeft:3;
	paddingRight:3;
	fontWeight: bold;
}
ProgressBar
{
	barColor: #1E1E1E;
	verticalGap: 0;
	trackHeight: 8;
	borderColor: #000000;
	rollOverEffect: Glow;
	labelWidth: 0;
	themeColor: #000000;
	trackColors: #ff0000;
}
.nowSongLBtn
{
	textRollOverColor:#e00025;
	textSelectedColor:#e00025;
	color:#e00025;
	paddingLeft:3;
	paddingRight:3;
	fontWeight: bold;
}
.nowText
{
	color:#e00025;
	fontSize: 12;
}
.nowTimeText
{
	color:#000000;
	fontSize: 12;
}
HSlider
{
	trackColors: #000000;
	thumbUpSkin:Embed(source="bubble.swf" ,symbol="volume_up");
	thumbDownSkin:Embed(source="bubble.swf" ,symbol="volume_down");
	thumbOverSkin:Embed(source="bubble.swf" ,symbol="volume_over");
	trackSkin: Embed(source="bubble.swf",symbol="HSlider_track");
}
.unsilentBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="unsilent_up");
	downSkin:Embed(source="bubble.swf" ,symbol="unsilent_down");
	overSkin:Embed(source="bubble.swf" ,symbol="unsilent_over");
}
.silentBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="silent_up");
	downSkin:Embed(source="bubble.swf" ,symbol="silent_down");
	overSkin:Embed(source="bubble.swf" ,symbol="silent_over");
}
.nextBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="next_up");
	downSkin:Embed(source="bubble.swf" ,symbol="next_down");
	overSkin:Embed(source="bubble.swf" ,symbol="next_over");
}
.playBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="play_up");
	downSkin:Embed(source="bubble.swf" ,symbol="play_down");
	overSkin:Embed(source="bubble.swf" ,symbol="play_over");
}
.pauseBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="pause_up");
	downSkin:Embed(source="bubble.swf" ,symbol="pause_down");
	overSkin:Embed(source="bubble.swf" ,symbol="pause_over");
}


.tipBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="tip_up");
	downSkin:Embed(source="bubble.swf" ,symbol="tip_down");
	overSkin:Embed(source="bubble.swf" ,symbol="tip_over");
	disabledSkin:Embed(source="bubble.swf" ,symbol="tip_dis");
}
.versionText
{
	color:#474747;
	fontSize: 12;
}



.specialLBtn
{
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	color: #474747;
	paddingLeft: 3;
	paddingRight: 3;
	rollOverColor: #E00025;
	selectionColor: #E00025;
	themeColor:#E00025;
	fontWeight: normal;
}
.popupHRule
{
	strokeColor:#B2B2B2;
	strokeWidth:1;
}
.closeLBtn
{
	textRollOverColor: #000000;
	textSelectedColor: #000000;
	color: #474747;
	fontWeight: normal;
}	
.mainCanvas
{
	backgroundColor:#EDEDED;
	cornerRadius: 10;
	borderColor:#B2B2B2;
	borderStyle: solid;
	dropShadowEnabled:true; 
	dropShadowColor:#B2B2B2;
	shadowDirection:right;
	shadowDistance:2;
}	
.topText
{
	color:#000000;
	fontSize:14;
}
.followText
{
	color:#474747;
	fontSize:12;
}
.littleLBtn
{
	color: #474747;
	rollOverColor: #B2B2B2;
	selectionColor: #B2B2B2;
	textRollOverColor: #474747;
	fontSize: 10;
	paddingLeft: 2;
	paddingRight: 2;
	paddingBottom: 2;
	paddingTop: 2;
	fontWeight: normal;
}
.normalBtn
{
	paddingLeft: 3;
	paddingRight: 3;
	textRollOverColor: #000000;
	textSelectedColor: #000000;
	borderColor: #D2D2D2;
	color: #474747;
	themeColor: #D2D2D2;
	fontWeight: normal;
	mouseDownEffect: Glow;
}
.popupInput
{
	color:#474747 ;
	backgroundColor:#EDEDED; 
	borderColor:#474747 ;
	fontSize:12 ;
	themeColor:#474747 ;
	cornerRadius:5; 
	borderStyle:solid;
	paddingTop: 2;
	paddingLeft: 3;
	mouseDownEffect: Glow;
}
.moodBtn 
{
	upSkin:Embed(source="bubble.swf" ,symbol="mood_up");
	downSkin:Embed(source="bubble.swf" ,symbol="mood_down");
	overSkin:Embed(source="bubble.swf" ,symbol="mood_over");
	rollOverEffect: Glow;
}
.moodWhiteText
{
	color:#FFFFFF;
	fontSize:12;
}
.nextPageBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="nextSearch_up");
	downSkin:Embed(source="bubble.swf" ,symbol="nextSearch_down");
	overSkin:Embed(source="bubble.swf" ,symbol="nextSearch_over");
	disabledSkin:Embed(source="bubble.swf" ,symbol="nextSearch_dis");
}
.prePageBtn
{
	upSkin:Embed(source="bubble.swf" ,symbol="preSearch_up");
	downSkin:Embed(source="bubble.swf" ,symbol="preSearch_down");
	overSkin:Embed(source="bubble.swf" ,symbol="preSearch_over");
	disabledSkin:Embed(source="bubble.swf" ,symbol="preSearch_dis");
}
	

	
	.welcomeUsername{
		color:#2F1F2F;
	}
	
.bottomHRule
{
	strokeColor:#E00025;
	strokeWidth:1;
}




